*{
	font-size : 10px;

}

.col{
	border: solid 1px;
	width : 200px;
	height : 200px;
}
.info{
	border: solid 1px;
	width : 200px;
	height : 50px;
	margin : 0.49px;
}
.img-size{
	width : 180px;
	height : 180px;
}
